		*{
			margin: 0;
			padding: 0;
		}
		
		html{
			height: 100%;
			font-family: Adventure;
		}
		
		body {
			height: 100%;
			background: url('../img/fon_opasity_60%.png');
			background-size: 100%;
			margin: auto;
			overflow: auto;
		}
		
		.mainblock{
			height: 100%;
			width: 82%;
			margin: 0 auto;
			padding-top: 5px;
			background-image: -webkit-linear-gradient(bottom right, #0381E8, #F4F9FD);
			background-image:    -moz-linear-gradient(bottom right, #0381E8, #F4F9FD);
			background-image:     -ms-linear-gradient(bottom right, #0381E8, #F4F9FD);
			background-image:      -o-linear-gradient(bottom right, #0381E8, #F4F9FD);
			background-image:         linear-gradient(bottom right, #0381E8, #F4F9FD);
		}
		
		.header{
			width: 95%;
			height: 200px;
			border-radius: 10px;
			margin: 5px auto;
			background: #BFBFBF;
			color: #081077;
		}
		
		.logo{
			width: 15%;
			height: 200px;
			/*border: 1px solid red;*/
			float: left;
		}
		
		.logoimg{
			width: 170px;
			height: 170px;
			/*border: 1px solid yellow;*/
			border-radius: 170px;
			margin: 15px auto;
			background: url('../img/logo.png') no-repeat 50% 50%;
			background-size: 129%;
		}
		
		.neme{
			width: 66%;
			height: 200px;
			text-align: center;
			/*border: 1px solid yellow;*/
			float: left;
			margin-left: 30px;
			letter-spacing: 7px;
		}
		.neme1{
			height: 100px;
			line-height: 100px;
			text-align: center;
			font-size: 40px;
		}
		
		.neme1:first-letter{
			font-size: 65px;
		}
		.neme2{
			height: 100px;
			line-height: 100px;
			text-align: center;
			font-size: 90px;
			font-style: bold;
		}
		
		.nemeneme2{
			font-size: 115px;
		}
		
		.socialblock{
			width: 16%;
			height: 200px;
			/*border: 1px solid green;*/
			float: left;
			text-align: center;
			margin-left: 5px;
		}
		.social{
			height: 60px;
			height: 70px;
			margin: 10px auto;
			/*border: 1px solid red;*/
		}
		
		.social a{
			display: inline-block;
			width: 55px;
			height: 55px;
			border: 1px solid #969696;
			/*margin: 5px 0 5px 8px;*/
			border-radius: 15px;
		}
		
		.button1{
			background: url('../img/social.png') no-repeat 2% 50%;
			background-size: 330%;
		} 
		
		.button2{
			background: url('../img/social.png') no-repeat 50% 50%;
			background-size: 330%;
		}  
		
		.button3{
			background: url('../img/social.png') no-repeat 98% 50%;
			background-size: 330%;
		}
		
		.calendar{
			width: 180px;
			height: 125px;
			margin: -20px auto;
			border: 1px solid #fff;
			border-radius: 10px;
			background: url('../img/calendar.png') no-repeat 50% 50%;
			background-size: 70%;
		}
				
		.menu{
			height: 5%;
			width: 95%;
			margin: 20px 0 0 25px;
			/*border: 2px solid red;*/
		}
		
		.menu ul{
			display: table-row;
		}
		
		.menu ul li{
			display: table-cell;
			width: auto;
			height: 30px;
			line-height: 30px;
			padding: 0 20px 0 20px;
			border-left: 1px solid #081178;
		}
		
		.menu ul li:first-child{
			border-left: none;
		}
		
		.menu ul li a{
			text-decoration: none;
			font-family: Geneva, Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: 15px;
			color: #081178;
		}
		
		.menu ul li a:hover,.menu ul li a:focus{
			padding:0 20px;
			border-right:0;
			color:#ffffff;
			transition:all 2s,color .2s;
		}
		
		.content{
			height: 53%;
			margin-top: 10px;
			/*border: 1px solid yellow;*/
		}
		
		.typeofsport{
			/*border: 1px solid red;*/
			height: 200px;
			width: 300px;
			margin-left: 40px;
		}
		
		.typeofsport li{
			list-style-type: none;
			font-size: 28px;
			line-height: 37px;
		}
		
		.sport{
			font-size: 34px;
		}
		
		.specification{
			/*border: 1px solid red;*/
			height: 270px;
			width: 300px;
			margin-left: 40px;
			font-family: Geneva, Arial, Helvetica, sans-serif;
			font-size: 22px;
			padding-top: 30px;
			line-height: 32px;
		}
		
		.fotonika{
			height: 800px;
			width: 800px;
			float: right;
			margin-top: -870px;
			margin-left: 860px;
			/*border: 1px solid red;*/
			background: url('../img/nika.png') no-repeat 70% 30%;
			background-size: 100%;
		}
				
		.footer{
			height: 17%;
			width: 95%;
			/*border: 1px solid black;*/
			margin: 0 auto;
			color: #071079;
		}
		
		.footerfooter1{
			height: 75px;
			width: 100%;
			border-radius: 10px;
			margin-top: 74px;
			background: #BFBFBF;
			font-size: 24px;
		}
		
		.footerfooter1 p{
			padding-top: 10px;
			padding-left: 700px;
		}
		
		.footerfooter2{
			height: 136px;
			width: 480px;
			left: 225px;
			margin: -150px 0 0 15px;
		}
		
		.footerlink{
			display: block;
			float: left;
			width: 120px;
			height: 136px;
		}
		
		.link1{
			background: #FFDB25 url('../img/znachki_watsc.png') no-repeat 50% 80%;
			background-size: 70%;
		}
		
		.link2{
			background: #BAFF62 url('../img/znachki_heart.png') no-repeat 50% 80%;
			background-size: 70%;
		}
		
		.link3{
			background: #AAF8F8 url('../img/znachki_Photo.png') no-repeat 50% 80%;
			background-size: 70%;
		}
		
		.link4{
			background: #DDA8EC url('../img/znachki_money.png') no-repeat 50% 80%;
			background-size: 70%;
		}